

body {
    margin: 0px;
    padding: 0px;
    outline:none;
    /* background:linear-gradient(90deg,#ecfff2,#f9e1ff); */
    /* background-color: #4d4d4d; */
    font-family: sans-serif;
  }
  ::selection{
    background-color:#6666667a;
  }
  .home {
    /* border: 2px solid red; */
    /* height: 90vh; */
    padding: 0px;
    width:100vw;
  }
  .main {
    /* border: 2px solid green; */
    text-align: center;
  }
  .buttonsAlign{
   padding-left:70%;
  }
 .title {
    color: #000000;
    margin: 1rem;
    margin-top: 0rem;
    font-size: 56px;
    line-height: 48px;
    text-transform: capitalize;
    /* letter-spacing: -0.1rem; */
    font-weight: bolder;
    /* text-shadow:-3px -3px 6px rgb(201, 201, 201); */
  }
  .intro{
    color:#4d4d4d;
    margin: 1rem;
    margin-top: 0rem;
    font-size: 21px;
    line-height: 30px;
    text-transform: capitalize;
    /* letter-spacing: -0.1rem; */
    font-weight: 400;
  }
  .loginButton,.signupButton{
    border: 2px solid #363636;
    background:none;
    /* border-radius:25px; */
    padding: 0.5rem 2rem;
    margin:10px 0.5rem;
    font-size: 1.3rem;
    color: #363636;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: 250ms;
    /* font-weight:bolder; */
    outline:none;
  }
  .loginButton::before,.signupButton::before{
    content: "";
    position:absolute;
    left:0%;
    top: 0%;
    width: 0%;
    height: 100%;
    background:#363636;
    /* top: 0px; */
    /* opacity: 0%; */
    z-index: -1;
    transition: 250ms;
  }
  .loginButton:hover::before,.signupButton:hover::before{
    /*border-radius: 0 0 50% 50%;*/ 
    width:100%
  }
  .loginButton:hover,.signupButton:hover{
    /* transform:rotateZ(360deg); */
    color: white;
  }
  .icons {
    /* margin-top: 5rem; */
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
  }
  .left,.right {
    display:flex;
    flex-direction: column;
    /* border:2px solid blue; */
    width: 620px;
    height: 24rem;
    background-color: #d7edff;
    border-radius: 20px;
    position: relative;
    box-shadow: 1px 1px 3px rgb(116, 116, 116);
    align-items:center;
    margin-bottom:4rem;
  }
  .right {
    background-color: #d4ffe1;
    flex-direction:row;
  }
  img {
    /* border: 1px solid black; */
    border-radius: 20px;
    box-shadow: 1px 1px 3px rgb(116, 116, 116);
    transition:250ms;
  }
  .ouch1 {
    width: 20rem;
    height: auto;
    position: absolute;
    left: 20%;
    top: 25%;
    z-index: 2;
    /* transition:1 */
    cursor: pointer;
  }
  .ouch2 {
    width: 10rem;
    height: auto;
    position: absolute;
    left: 60%;
    top: 10%;
    z-index: 1;
    /* transition:1 */
    cursor: pointer;
  }
  .ouch3 {
    width: 20rem;
    height: auto;
    position: absolute;
    left: 40%;
    top: 65%;
    z-index: 1;
    /* transition:1 */
    cursor: pointer;
  }
  .ouch6 {
    width: 10rem;
    height: auto;
    position: absolute;
    left: 4%;
    top: 10%;
    z-index: 3;
    /* transition:1 */
  }
  .ouch2:hover,
  .ouch3:hover,
  .ouch6:hover {
    z-index: 3;
    cursor: pointer;
    transform:scale(1.02)
  }
  .ouch1:hover,.vector:hover{
    z-index: 4;
    cursor: pointer;
    transform:scale(1.02)
  }
  .vector {
    width: 30rem;
    height: auto;
    position: absolute;
    left: 10%;
    top: 15%;
    z-index: 1;
  }
  div{
    /* border:1px solid red; */
  
  }
  