.logInEmailInput,.logInPasswordInput{
    background:none;
    border:none;
    /* border-bottom:2px solid rgb(117, 117, 117);   */
    font-size:1.2rem;
    margin:0.2rem;
    padding:5px 10px;
    color:black;
    outline:none;
    background-color:rgba(255, 255, 255, 0.596);
}
.logInSvg{
    margin:2rem 0rem 1rem 0rem;
    width:15rem;
    height:auto;
    box-shadow: none;
}
.continueButton{
    border: 2px solid #363636;
    background-color:#363636;
    /* border-radius:25px; */
    padding: 0.5rem 2rem;
    margin:10px 0.5rem;
    font-size: 1rem;
    color: white;
    font-family:sans-serif;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: 250ms;
    font-family: "Yusei Magic", sans-serif;
    /* outline:none; */
  }
  .continueButton:hover{
    background-color:#575757;
    /* border: 2px solid #575757; */
  }
  p{
    padding:0px;
    margin: 0.4rem;
    color:#363636;
    font-size:0.8rem;
  }
  .social button{
    border:1px solid rgb(192, 192, 192);
    border-radius:20px;
    padding:0.5rem 0.6rem 0.5rem 0.6rem;
    background:none;
    margin:0.2rem;
    font-size:1rem;
    transition:250ms;
  }
  .social button:hover{
    border:1px solid #363636;
    background:#363636;
    color:white;
    cursor:pointer;
  }