.signUpSvg{
    margin:2rem 0rem 1rem 1rem;
    width:15rem;
    height:auto;
    box-shadow: none;
}
.signUpEmailInput,.signUpPasswordInput,.signUpName,.signUpAge{
  background:none;
  border:none;
  /* border-bottom:2px solid rgb(117, 117, 117); */
  font-size:1.2rem;
  margin:0.2rem;
  padding:5px 10px;
  color:black;
  outline:none;
  background-color:rgba(255, 255, 255, 0.596);
}
.signUpName,.signUpAge{
  display:inline;
}
