.signUpSvg{
    margin:2rem 0rem 1rem 0rem;
    width:20rem;
    height:auto;
    box-shadow: none;
}
.signUpEmailInput,.signUpPasswordInput,.signUpName,.signUpAge{
    background:none;
    border:none;
    border-bottom:4px solid rgb(66, 66, 66);
    font-size:1.2rem;
    margin:0.5rem;
    color:black;
    outline:none;
    font-family: "Yusei Magic", sans-serif;
}
.signUpName,.signUpAge{
  display:inline;
}
