.signUpSvg{
    margin:2rem 0rem 1rem 0rem;
    width:20rem;
    height:auto;
    box-shadow: none;
}
.signUpEmailInput,.signUpPasswordInput,.signUpName,.signUpAge{
    background:none;
    border:none;
    border-bottom:2px solid rgb(117, 117, 117);
    font-size:1.2rem;
    margin:0.5rem;
    color:black;
    outline:none;
}
.signUpName,.signUpAge{
  display:inline;
}
