div{
  /* border:1px solid red */
}
.navbar{
  display:flex;
  z-index: 3;
  background-color:#3d3d3d;
  color:white;
}
.navbar .Title{
  padding: 1.1rem;
  padding-top: 1.3rem;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
}
.navbar .search{
  display: flex;
  align-items: center;
}
.navbar .search input{
  padding: 0.5rem;
  background-color:#646464;
  /* font-size: 1.3rem; */
  font-weight:lighter;
  color:white;
  outline:none;
  border:none;
  width:20rem;
  border-radius:2px;
  transition:100ms;
}
.navbar .search input::placeholder{
  color:rgb(187, 187, 187);
  font-weight:lighter;
}
.navbar .search input:focus{
  color:black;
  font-weight:lighter;
  background-color:white
}
.navbar .search input:hover{
  color:black;
  font-weight:lighter;
  background-color: #aabeff34;
}
.navbar .buttons{
  margin-left:auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 17rem;
}
.navbar .buttons button{
  width:3rem;
  height: 3rem;
  font-size: 0.9rem;
  text-align: center;
  border:none;
  cursor:pointer;
  color:white;
  border-radius: 4px;
  background-color: #646464;

}
.navbar .buttons button:hover{
  background-color: #bcccff77;
}

.profile{
 margin-left: 2rem;
 margin-right: 2rem;
 display: flex;
 align-items: center;
}
.profile .profileImage{
  width:3rem;
  height: 3rem;
  border-radius:50%;
  box-shadow: none;
}
.profile p{
  color:white;
  font-size: 1rem;
}
.content{
  z-index: -1;
  height: 91.9vh;
  background-color: white;
}