.profile {
  display: flex;
  /* height: 92.5vh; */
  padding: 1.65rem;
  background: radial-gradient(#0084f0, #d4ffe1);
  /* background-image: url(../images/ouch6.png); */
  /* background-size:cover; */
}
.userData,
.dashboard {
  height: 92vh;
  background-color: #ffffffd2;
}
.userData {
  border-right: 2px solid #858585;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  width: 21vw;
}
.notification {
  padding: 2rem 0rem 2rem 0rem;
}
.dashboard {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  /* border:3px solid blue; */
  width: 76vw;
}
.profileData {
  padding: 1 rem 0rem 1 rem 0rem;
  text-align: center;
}
.profilePicture {
  width: 7rem;
  height: auto;
  border-radius: 50%;
}
.profileData h3 {
  font-size: 1.5rem;
  color: black;
  margin: 10px;
}
.profileData h4 {
  font-size: 0.7rem;
  color: rgb(68, 68, 68);
  margin: 10px;
}
.buttons {
  display: flex;
  flex-direction: column;
}
.buttons button {
  margin: 5px 20px;
  border: 1px solid #363636;
  border-radius: 10px;
  padding: 0.7rem 2rem 0.7rem 0.5rem;
  font-size: 1rem;
  background-color: #363636;
  color: white;
  text-align: left;
  transition: 250ms;
  letter-spacing:1px;
}
.buttons button:hover {
    background: none;
    color: #363636;
    font-weight:bolder;
    cursor: pointer;
}
