.ProfileContent{
  height:90vh;
  background-color: #2f3033;;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profileImage img{
  width:20rem;
  height:auto;
  box-shadow: none;
  border-radius:0px;
}
.profileData{
  border:1px solid white;
  width: 40rem;
  color:white;
  height: 20rem;
}
.profileData h2{
  color:white;
}