@import 'antd/dist/antd.css';
.taskList {
  width: 60rem;
  margin: 0.5rem auto;
  padding: 0.5rem;
  transition:200ms;
  border-bottom:1px solid grey;
}
.taskList:hover {
  background-color: #b4b4b409;
}
.taskList .priorityButton{
  width: 4rem;
  padding: 0px;
  border: 2px solid #ffee0011;
  color: #d4c710;
  background:  #ffee0011;
  font-size: smaller;
  margin-left: 93%;
  border-radius: 10px;
}
.taskData h2 {
  margin: 0px;
  font-size: 1.3rem;
  font-weight: 400;
  color: #da673c;
}
.taskData p {
  font-size: 18px;
  margin: 0px;
  margin-top: 5px;
  color: rgb(238, 238, 238);
}
.taskData input {
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: #51555e;
  font-size: 1rem;
  font-weight: lighter;
  color: white;
  outline: none;
  border: none;
  width: 30rem;
  border-radius: 2px;
  transition: 100ms;
}
.taskData input::placeholder {
  color: rgb(187, 187, 187);
  font-weight: lighter;
}
.taskData input:focus {
  color: black;
  font-weight: lighter;
  background-color: white;
}
.taskData input:hover {
  color: black;
  font-weight: lighter;
  background-color: white;
}
.editButtons {
  display: flex;
}
.editButtons p {
  margin: 16px auto 0px 0px;
  font-size: 1rem;
  color: #3173bd;
}
.editButtons button {
  margin: 5px;
  width: 4rem;
  /* padding: 0.2rem; */
  font-size: 1rem;
  cursor: pointer;
  font-weight: 500;
  outline:none;
  transition: 250ms;
}
.editButtons .edit {
  border: 2px solid #38524c;
  color: #42af7c;
  background: #38524c;
}
.editButtons .edit:hover {
  background-color: #36393f;
  border: 2px solid #36393f;
}
.editButtons .delete {
  border: 2px solid rgba(241, 237, 16, 0);
  color: rgba(255, 0, 0, 0.856);
  background: rgba(241, 16, 16, 0.226);
}
.editButtons .delete:hover {
  border: 2px solid rgba(241, 16, 16, 0);
  background: rgba(241, 16, 16, 0.096);
}
.comment-button{
  border: 2px solid #38524c;
  color: #42af7c;
  background: #38524c;
}
.comment-button:hover {
  background-color: #36393f;
  border: 2px solid #36393f;
}
.ant-modal-content {
  background-color:#202225 !important;
}
.ant-modal-header {
  background-color:#202225 !important;
}
.ant-modal-title{
  color: #da673c;
  font-size: larger;
  text-transform: uppercase;
}
.ant-modal-close-x{
  color: white;
}
.ant-modal-header {
  border-bottom: none;
}
.ant-modal-footer {
  border-top: none;
}
.ant-modal-body {
  padding: 1rem;
}
.ant-modal-body p{
  font-size: 18px;
  margin: 0px;
  padding:0px;
  color: rgb(238, 238, 238);
}
.comments-input {
  padding: 0.5rem;
  background-color: #51555e;
  font-size: 1rem;
  font-weight: lighter;
  color: white;
  outline: none;
  border: none;
  width: 30rem;
  border-radius: 2px;
  transition: 100ms;
}
.comments-input::placeholder {
  color: rgb(187, 187, 187);
  font-weight: lighter;
}
.comments-input:focus {
  color: black;
  font-weight: lighter;
  background-color: white;
}
.comments-input:hover {
  color: black;
  font-weight: lighter;
  background-color: white;
}
.comments-input:hover {
  background-color: white;
  color: black;
  transition: 0.3s;
}
div{
  /* border:1px solid red; */
}